[Unit]
Description=MoonBackup Database Pre-Boot Backup
After=network-online.target
Before=moonraker.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/home/%i/MoonBackup/db_preboot_backup.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
